<footer>
    <div class="f-info">
        <div class="f-info-socials">
            
            <a class="socialMedia" href="https://github.com/Punishmidha" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
            <a class="socialMedia" href="mailto:punishmidha9@gmail.com" target="_blank">
                <i class="fa-brands fa-google-plus-g"></i>
              </a>
            <a class="socialMedia" href="https://www.linkedin.com/in/punish-midha-381777245/" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            
        </div>
        <div class="f-info-brand">&copy; Midgo Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>